<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aditya.thingspeak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/Translucent" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.OTPVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
           <activity
            android:name=".activities.CreateChannelActivity"
            android:label="@string/title_activity_create_channel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateChannel2Activity"
            android:label="@string/title_activity_create_channel2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChannelDetailsActivity"
            android:label="@string/title_activity_channel_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FieldGraphActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".notifications.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".notifications.NotificationEventReceiver" />
        <receiver android:name=".notifications.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="com.aditya.thingspeak" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>